@model TempFoodHandlingCertificates2014.ViewModels.vmPage5
@{
    ViewBag.Title = "Page 5. Temporary Food Stall Application";
}
<div class="myPageTitle">Registration Page 5 of 5</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <div class="img-thumbnail img-rounded">
                <img src="~/Content/images/FoodHandlers.png" alt="Image of food handler demonstrating required attributes" />
            </div>
        </div>
        <div class="form-group">
             <div class="col-md-3">
                 <h4>Compliance</h4>
             </div>
        </div>
        <div class="form-group">
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.ComplyHandwashFacilities)
                @Html.LabelFor(model => model.ComplyHandwashFacilities)
                @Html.ValidationMessageFor(model => model.ComplyHandwashFacilities, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.ComplyDHHSGuidelines)
                @Html.LabelFor(model => model.ComplyDHHSGuidelines)
                @Html.ValidationMessageFor(model => model.ComplyDHHSGuidelines, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.ComplyUnderstandPermit)
                @Html.LabelFor(model => model.ComplyUnderstandPermit)
                @Html.ValidationMessageFor(model => model.ComplyUnderstandPermit, "", new { @class = "text-danger" })
            </div>
             </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="submit" id="prev" type="submit" value="&laquo; Prev" class="btn btn-info" />
                <span class="btn btn-default">Page 5 of 5</span>
                <input name="submit" id="next" type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </div>
        </div>
}

