@model TempFoodHandlingCertificates2014.Models.Application

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StallDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StallDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StallType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StallType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowFoodsKeptCold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowFoodsKeptCold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowFoodsKeptHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowFoodsKeptHot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandwashFacilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandwashFacilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessApplication.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessApplication.GUID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
